:root{
	--mainBackground:rgb(191, 30, 30);
    --darkBackground: rgb(132, 2, 24);
    --borderColor:  rgb(66, 66, 66);
    --imageBackground: rgb(164, 161, 161);
}
body{
    background-color: var(--mainBackground)
}
h2{
    background-color: var(--darkBackground);
    border: #282727;
    border: solid;
}
.pokedexNavbar{
    color: whitesmoke;
    background-color: var(--mainBackground);
    border: 3px solid var(--borderColor);
    padding-left: 5px;
}
.navbar-nav {
    color: whitesmoke;
    background-color: var(--darkBackground);
    border: 3px solid rgb(28, 27, 27);
    padding-left: 5px;
}
.navbar-toggler{
    background-color: var(--darkBackground);
}

h1{
    color: whitesmoke;
    background-color: rgb(191, 30, 30);
    padding-left: 5px;
}
.pokemon-list{
/* Grid fallback start */
    display: flex;
    flex: wrap;
/* end */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}
.list-group-item{
    display: unset;
    background: var(--mainBackground);
    border: none;
}
.pokedexButton {
    background-color:darkblue;
    padding: 16px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    margin: 4px 2px;
    display: wrap; 
    border: 3px solid rgb(191, 30, 30);
}
.modal-content{
    background-color: var(--mainBackground); 
    border: 5px solid var(--borderColor);
}
.modal-header{
    
    border-bottom: 5px solid var(--borderColor);
}
.modal-body{
    border-bottom: 2px solid var(--borderColor);
    color: whitesmoke;
}
.modal-image{
    border: 3px solid var(--borderColor);
    background-color: var(--imageBackground);
}
.modal-footer{
    border-top: 3px solid var(--borderColor);
} 

.fancy{
    background-color: goldenrod;
}

.fancy h1{
   
    background-color: goldenrod;
}
  
.fancy-mode {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }