body{
    background-color: beige;
    align-content: center;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
    padding:25px;
    margin:50px;
    margin-trim: 50px;
}