body{
    background-color: rgb(132, 2, 24);
}
.pokedexNavbar{
    color: whitesmoke;
    background-color: rgb(191, 30, 30);
    border: 3px solid rgb(66, 66, 66);
    padding-left: 5px;
}
.navbar-nav {
    color: whitesmoke;
    background-color: rgb(174, 37, 37);
    border: 3px solid rgb(28, 27, 27);
    padding-left: 5px;
}

h1{
    color: whitesmoke;
    background-color: rgb(191, 30, 30);
    border: 3px solid rgb(66, 66, 66);
    padding-left: 5px;
}
.pokedexButton {
    background-color:darkblue;
    padding: 16px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    margin: 4px 2px;
    display: wrap; 
    /* transition-duration: .4s;
    cursor: pointer; */
    border: 3px solid rgb(191, 30, 30);
    /* width: 30%;  */
}
/* .pokedexButton:hover{
    opacity: .7;
}
li{
    list-style: none;
} */
/* ul{
    background-color: rgb(28, 46, 46);
    border: 3px solid whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    flex-direction: column;
} */

/* h2{
    display:inline-flex;
    color: white;
    background-color: rgb(28, 46, 46);
    min-width: 60%;
    min-height: 80%;
} */


/* .modal{
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: rgb(28, 46, 46);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
} */
.modal.fancy{
    background-color: goldenrod;
    border: 5px solid rgb(180, 5, 5);
}
/* .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  } */
  .fancy.modal-close{
    color: #282727;
}
  /* .modal h2 {
    margin-top: 0;
  } */
  .modal.fancy h2{
    display:inline-flex;
    color: white;
    background-color: goldenrod;
    min-width: 60%;
    min-height: 80%;
}
  
  /* .modal p {
    margin-bottom: 0;
    color: whitesmoke;
  } */

  /* .pokemon-image {
    display:inline-flex;
    
    min-width: 50%;
    margin-left: 25%;
} */
.fancy-mode {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }